<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="vue.js"></script>
<div id="root">
    <h1>All Tasks</h1>
    <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
    </ul>
</div>

<script>
    var app = new Vue({
        el: "#root",
        data:{
            tasks:[
                {description: 'Go to the store', completed: true},
                {description: 'Buy some food', completed: false},
                {description: 'Finish screencast', completed: false},
                {description: 'Ride the bicycle', completed: false},
                {description: 'Go to hell', completed: true},
                {description: 'Kill yourself', completed: false}
            ]
        }
    });
</script>

</body>
</html>