<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

    <style>
        body {
            padding-top: 40px;
        }
    </style>
</head>

<body>
    <script src="vue.js"></script>

    <div id="root" class="container">
        <tabs>
            <tab name="About Us" :selected="true">
                <h1>
                    This content is about us tab.
                </h1>
            </tab>

            <tab name="About Our Culture">
                <h1>
                    This content is about our culture tab.
                </h1>
            </tab>

            <tab name="About Our Vision">
                <h1>
                    This content is about our vision tab.
                </h1>
            </tab>
        </tabs>

    </div>

    <script>
        Vue.component('tabs', {
            template: `
            <div>

                <div class="tabs">
                    <ul>
                        <li v-for="tab in tabs" :class="{ 'is-active' : tab.isActive }">
                            <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <slot></slot>
                </div>

            </div>
            `,

            data() {
                return {
                    tabs: []
                }
            },

            created() {
                this.tabs = this.$children
            },

            methods: {
                selectTab(selectedTab) {
                    this.tabs.forEach(tab => {
                        tab.isActive = (tab.name == selectedTab.name)
                    });
                }
            }

        });

        Vue.component('tab', {
            template: `
                <div v-show="isActive"><slot></slot></div>
            `,
            props: {
                name: {
                    requiered: true
                },
                selected: {
                    default: false
                }
            },

            data() {
                return {
                    isActive: false
                }
            },

            computed: {
                href() {
                    return '#' + this.name.toLowerCase().replace(/ /g, '-')
                }
            },

            mounted() {
                this.isActive = this.selected;
            }
        });

        new Vue({
            el: '#root',

        });
    </script>
</body>

</html>