<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="vue.js"></script>

<div id="root">
    <h1>{{ message }}</h1>
    <h1>{{ message.split('').reverse().join('') }}</h1>
    <h1>{{ reversedMessage }}</h1>
</div>

<script>
    new Vue({
       el: "#root",

       data:{
           message: 'Hello World'
       } ,

       computed:{
           reversedMessage(){
               return this.message.split('').reverse().join('')
           }
       }
    });
</script>

</body>
</html>